.language-select {
  min-width: 50px;
  background: #43d096;
  border-radius: 4px;
  color: white;
  .ant-select-selection {
    background: #43d096;
  }
  svg {
    color: white;
  }
}

.language-select-absolute {
  position: absolute;
  left: 16px;
  top: 16px;
}

.language-select-absolute-right {
  position: absolute;
  right: 16px;
  top: 16px;
}